.upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.wrapper {
    background-color: var(--cloud);
    padding: 8px;
    border-radius: 6px;
}

.uploadArea {
    background-color: var(--silver);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.pending .selectedImage {
        opacity: 0.5;
    }
}

.uploadImage {
    padding: 3px;
}

.imageIcon {
    background-color: var(--iron);
    mask-size: 33px 29px;
    mask-image: url('#{$cdn-url}icons/image.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 33px;
    height: 29px;
}

.imageIconProfile {
    background-color: var(--iron);
    mask-size: 48px 48px;
    mask-image: url('#{$cdn-url}icons/image.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.selectedImage {
    border-radius: 5px;
    object-fit: cover;
}

.uploadAreaProfile {
    background-color: var(--silver);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;

    &.pending .selectedImage {
        opacity: 0.5;
    }
}

.selectedImageProfile {
    border-radius: 50%;
    object-fit: cover;
}
