.pageSelector {
    font-size: 14px;
    gap: 5px;
    display: flex;
    align-items: center;
    user-select: none;

}

.pageNumber {
    display: inline-flex;
    align-items: center;        
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.pageNumber.selected {
    color: var(--sapphire);
    font-weight: 700;
}


.l {
    width: 40px;
    height: 40px;
}

.m {
    width: 32px;
    height: 32px;
}

.s {
    width: 24px;
    height: 24px;
}
