.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: 4px;
  z-index: 1;
  margin-top: 6px;
  outline: none;
  padding: 6px 0;
  border: 1px solid var(--ash);
  overflow-y: auto;
}

.selectList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.textOverflowEllipsis {
  text-overflow: ellipsis;
}

.oneTrueAndBlur {
  color: var(--navy);
}

.focus {
  color: var(--black);
}

.option {
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionText {
  align-content: center;
}

.selectedOptionIcon {
  mask-size: contain;
  mask-image: url('https://storage.googleapis.com/morning-react-ui-data/icons/success.svg');
  background-color: var(--sapphire);
}

.highlightedOption {
  background-color: var(--silver);
}

.emptyState {
  font-style: italic;
  color: var(--iron);
  cursor: default;
}

.padding-xs {
  padding-top: 3px;
  padding-bottom: 3px;
}

.padding-s {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-m {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-l {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-xl {
  padding-top: 9px;
  padding-bottom: 9px;
}
