.button {
    border: none;
    border-radius: 6px;
    padding: 5px 8px;
    font-family: var(--inter);
    font-size: var(--font-size-m);
    font-weight: 600;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: background-color ease-in-out 300ms;
    display: inline-flex;
}

.button .image {
    display: flex;
    flex-shrink: 0;
}

.button.xxl .image,
.button.xl .image,
.button.l .image {
    width: 24px;
    height: 24px;
}

.button.m .image {
    width: 20px;
    height: 20px;
}

.button.s .image,
.button.xs .image {
    width: 16px;
    height: 16px;
}

.button.xxl,
.button.xl,
.button.l {
    padding: 6px 10px;
}

.button.s,
.button.s::before {
    border-radius: 4px;
    padding: 4px 6px;
    line-height: 16px;
}

.button.xs,
.button.xs::before {
    border-radius: 2px;
    padding: 2px 4px;
    line-height: 12px;
}

.button.xxl {
    font-size: var(--font-size-xxl);
}

.button.xl {
    font-size: var(--font-size-xl);
}

.button.l {
    font-size: var(--font-size-l);
    line-height: 24px;
}

.button.s {
    font-size: var(--font-size-s);
}

.button.xs {
    font-size: var(--font-size-xs);
}

.content,
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.loadingOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    background-color: var(--azure);
    color: var(--white);
}

.primary.hover,
.primary:hover {
    background-color: var(--sapphire);
}

.primary.active,
.primary:active {
    background-color: var(--navy);
}

.secondary {
    background-color: var(--white);
    color: var(--black);
}

.secondary::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--ash);
    box-sizing: border-box;
    pointer-events: none;
    border-radius: 6px;
}

.secondary.hover,
.secondary:hover {
    background-color: var(--cloud);
}

.secondary.active,
.secondary:active {
    background-color: var(--silver);
}

.primary:disabled,
.secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
