.linkButton {
    font-size: var(--font-size-normal);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: var(--azure);
    border-bottom: solid;
    bottom: 1px;
    border-color: transparent;
    width: fit-content;
    padding: 0;

    .image {
        display: flex;
        background-color: var(--azure);
        mask-size: contain;
    }
}

.content,
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.linkButton:hover {
    color: var(--sapphire);
    box-shadow: 0 1px var(--sapphire);

    .image {
        background-color: var(--sapphire);
    }
}

.linkButton:active {
    color: var(--navy);
    box-shadow: 0 1px var(--navy);

    .image {
        background-color: var(--navy);
    }
}

.linkButton:disabled {
    cursor: not-allowed;
    box-shadow: none;
}
