.loginContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: var(--snow);
}

.banner {
    position: relative;
    width: 28%;
    height: 100vh;
}

.logoContainer {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 2;
}

.backgroundImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.loginForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.loginBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    color: var(--black);
    font-family: var(--titling-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.body {
    color: var(--black);
    font-family: var(--space-grotesk);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 16px;
}

@media (width <= 750px) {
    .loginContainer {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .banner,
    .backgroundImageContainer {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .backgroundImageContainer {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
    }

    .logoContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .loginForm {
        background-color: var(--snow);
        padding: 20px;
        border-radius: 12px 12px 0 0;
        z-index: 1;
        margin-top: -20px;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .loginBody {
        flex: 0;
        padding-top: 100px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        white-space: normal;
    }

    .body {
        text-align: center;
        white-space: normal;
    }
}
