@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    to {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }
}

.sessionInformer {
    position: relative;
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
    z-index: 1;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--ash);
    background-color: var(--white);
}

.dropdownEnter {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
    animation: slideDown 0.3s forwards;
}

.dropdownExit {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    animation: slideUp 0.3s forwards;
}
