.cell {
    padding: 8px 6px 7px;
    height: 36px;
}

.cellWithChevron {
    padding-left: 20px;
}

.shimmerWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background-color: #f3f4f6;
}

.shimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        transparent,
        rgb(255 255 255 / 60%),
        transparent
    );
    animation: shimmer 1.2s infinite linear;
    transform: translateX(-100%);
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
