.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    transition: all 200ms linear;
    font-size: 14px;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.caption {
    padding: 8px;
}
