.containerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  padding: 14px 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
