.bar {
    display: flex;
    place-content: center center;
    width: 100%;
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 900;
}

.container {
    display: flex;
    height: 50px;
    padding: 14px 100px;
    justify-content: space-between;
    flex: 1;
}

.imageAndTitle {
    display: flex;
}

.children {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
}
