.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    transition: all 0.2s linear;
}

.tableHeader {
    height: 36px;
    background-color: var(--cloud);
    border-bottom: 1px solid var(--ash);
    text-align: left;
}

.tableHead {
    font-weight: normal;
    transition: all 0.2s linear;
}

.tableHead.sortable {
    cursor: pointer;
}

.tableHead img {
    transition: all 0.2s linear;
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.rotate180 {
    transform: rotate(-180deg);
}

.tableBody {
    color: var(--coal);
}

.tableRow {
    border-bottom: 1px solid var(--ash);
}

.tableCell {
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableFooter {
    background-color: var(--snow);
}

.tableCaption {
    padding: 8px;
}

.table th,
.table td {
    padding: 6px;
}

.table td:first-child,
.table th:first-child {
    padding-left: 16px;
    padding-right: 6px;
}

.table td:not(:first-child),
.table th:not(:first-child) {
    padding-left: 6px;
    padding-right: 16px;
}
