.wrapper {
    display: flex;
    gap: 6px;
}

.wrapperRadioInline {
    gap: 16px;
}

.inline {
    flex-flow: row wrap;
}

.column {
    flex-flow: column;
}

.checkboxHovered {
    background-color: var(--cloud);
}
