.callout {
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    justify-items: start;
}

.callout-red {
    background-color: var(--petal);
    color: var(--garnet);
}

.callout-blue {
    background-color: var(--sky);
    color: var(--navy);
}

.callout-yellow {
    background-color: var(--vanilla);
    color: var(--bronze);
}

.callout-s {
    padding: 12px 8px;
    font-size: 12px;
    line-height: 16px;
    gap: 4px;
}

.callout-m {
    padding: 14px 10px;
    font-size: 14px;
    line-height: 20px;
    gap: 6px;
}

.callout-l {
    padding: 16px 12px;
    font-size: 16px;
    line-height: 24px;
    gap: 8px;
}

.mask-red {
    background-color: var(--garnet);
}

.mask-blue {
    background-color: var(--navy);
}

.mask-yellow {
    background-color: var(--bronze);
}

.icon {
    mask-size: contain;
    vertical-align: middle;
    mask-repeat: no-repeat;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: none;
}