.callout {
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    justify-items: start;
}

.callout-red {
    background-color: #ffcdd2;
    color: #d32f2f;
}

.callout-blue {
    background-color: #ebf7ff;
    color: var(--sapphire);
}

.callout-green {
    background-color: #ebfff1;
    color: #119c2b;
}

.callout-orange {
    background-color: #faeada;
    color: #ae4220;
}

.callout-gray {
    background-color: var(--cloud);
    color: var(--iron);
}

.callout-pink {
    background-color: #fbe8f5;
    color: #d32f87;
}

.callout-yellow {
    background-color: #fffcc2;
    color: #d29404;
}

.callout-teal {
    background-color: #e4fcfc;
    color: #0d9676;
}

.callout-purple {
    background-color: #fcf0ff;
    color: #a23fee;
}

.callout-s {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 16px;
}

.callout-m {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
}

.callout-l {
    padding: 10px 14px;
    font-size: 16px;
    line-height: 24px;
}

.mask-red {
    background-color: #d32f2f;
}

.mask-blue {
    background-color: var(--sapphire);
}

.mask-green {
    background-color: #119c2b;
}

.mask-orange {
    background-color: #ae4220;
}

.mask-gray {
    background-color: var(--iron);
}

.mask-pink {
    background-color: #d32f87;
}

.mask-yellow {
    background-color: #d29404;
}

.mask-teal {
    background-color: #0d9676;
}

.mask-purple {
    background-color: #a23fee;
}

.icon {
    mask-size: contain;
    vertical-align: middle;
    mask-repeat: no-repeat;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: none;
    margin-right: 10px;
}