.wrapper {
    display: flex;
    align-items: center;
    user-select: none;
    gap: 4px;
    padding: 6px 0;
}

.checkbox {
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    flex-shrink: 0;

    &.active {
        mask-image: url('#{$cdn-url}icons/checkbox-active.svg');
        background-color: var(--sapphire);
    }

    &.empty {
        mask-image: url('#{$cdn-url}icons/checkbox-empty.svg');
        background-color: var(--iron);
    }

    &.minus {
        mask-image: url('#{$cdn-url}icons/checkbox-minus.svg');
        background-color: var(--sapphire);
    }
}

.label {
    color: var(--graphite);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.error {
    color: var(--brick);
}
