.wrapper {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 4px;
  padding: 6px 0;
}

.radio {
  display: inline-block;
  mask-size: contain;
  transition: 0.1s ease-in-out;

  &.active {
    mask-image: url('#{$cdn-url}icons/radio-active.svg');
    background-color: var(--sapphire);
  }

  &.empty {
    mask-image: url('#{$cdn-url}icons/radio-empty.svg');
    background-color: var(--ash);
  }

  &.error {
    mask-image: url('#{$cdn-url}icons/radio-empty.svg');
    background-color: var(--ash);
  }
}

.label {
  color: var(--graphite);

  &.error {
    color: var(--cherry);
  }
}
