.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipBox {
    position: fixed;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.tooltipVisible {
    visibility: visible;
    opacity: 1;
}
