.input {
    padding: 6px 10px;
    border: 1px solid var(--ash);
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
}

.input:focus {
    outline: none;
    border: 1px solid var(--sapphire);
}

.input.xl  { font-size: var(--font-size-l); padding: 8px 12px; }
.input.l   { font-size: var(--font-size-l); padding: 6px 12px; }
.input.m   { font-size: var(--font-size-normal); padding: 6px 10px; }
.input.s   { font-size: var(--font-size-s); padding: 4px 8px; }
.input.xs  { font-size: var(--font-size-xs); padding: 4px 8px; }
