.wrapper {
  position: relative;
  border: 1px solid var(--ash);
  border-radius: 6px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  gap: 4px;
  width: 100%;
}

.wrapper:focus-within {
  outline: none;
  border: 1px solid var(--sapphire);
}

.wrapper.error {
  border-color: var(--brick);
}

.input {
  border: none;
  background-color: var(--white);
  user-select: none;
  border-radius: 6px;
  flex-grow: 1;
}

.input:focus {
  outline: none;
}

.dropdownIcon {
  transition: transform 0.3s ease;
}

.dropdownIconActive {
  transform: rotate(180deg);
}
