.label {
    display: block;
    font-weight: 600;
}

.label.bold {
    font-weight: 700;
}

.sublabel {
    display: block;
    color: var(--coal);
    font-weight: 400;
}

.labelsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parentInput {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
    width: 100%;
}

.parentInput input::placeholder {
    color: var(--iron);
}
