.tag {
    font-weight: 600;
    display: inline-block;
}

.tag-red {
    background-color: #ffcdd2;
    color: #d32f2f;
}

.tag-blue {
    background-color: #ebf7ff;
    color: var(--sapphire);
}

.tag-green {
    background-color: #ebfff1;
    color: #119c2b;
}

.tag-orange {
    background-color: #faeada;
    color: #ae4220;
}

.tag-gray {
    background-color: var(--cloud);
    color: var(--iron);
}

.tag-pink {
    background-color: #fbe8f5;
    color: #d32f87;
}

.tag-yellow {
    background-color: #fffcc2;
    color: #d29404;
}

.tag-teal {
    background-color: #e4fcfc;
    color: #0d9676;
}

.tag-purple {
    background-color: #fcf0ff;
    color: #a23fee;
}

.tag-s {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
}

.tag-m {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
}

.tag-l {
    padding: 3px 10px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 6px;
}
